header.header
  img(src="img/main-bg.jpg", alt="Main image" class="main--img")
  .box
    .header--content.d-flex.justify-end.w-100
      a(href="/" class="header__logo d-flex justify-center ai-center")
        img(src="img/logo.png", alt="Logo")
        span Микоцин
      .header__bullets.d-flex
        .bullet.d-flex
          img(src="img/n1.png", alt="Number 1")
          span №1 Для избавления от любого типа грибка
        .bullet.d-flex
          img(src="img/recomend.png", alt="Recomended")
          span Рекомендован дерматологами
        .bullet.d-flex
          img(src="img/clients.png", alt="Clients")
          span 13000+ довольных клиентов за 2018 год

        